# Where Mongoose is hosted
PROTOCOL=https:
HOST=mongoose.dev.svsticky.nl
PORT=443

# The secret token that Mongoose needs. When running Mongoose locally, it's in its `.env` at TOKEN.
TOKEN=

# Card UUID for testing purposes. Must be defined in the Mongoose database
TEST_UUID=

# You can select what modules you want to enable. The options are "products", "activities" and "funds"
MODULES=["products", "activities", "funds"]

SLOTH_ENV=dev
