#categoryList {
  position: fixed;
  width: calc(100% - 10px);
  padding: 20px;
  z-index: 1;
  background-color: #f8f8f4;
  text-align: center;
}

#categoryList > section {
  width: 100%;
}

.category_button {
  font-size: 20px !important;
  color: var(--board-color) !important;
  box-shadow: 0 0 0 1px var(--board-color) inset !important;
}

#productList {
  width: calc(100% - 260px);
  padding-top: 70px;
  margin: 0 20px;
}

.category_headers {
  display: hidden;
}

.category_headers:target {
  display: block;
  position: relative;
  top: -70px;
}

#purchase {
  width: 100%;
  background-color: var(--board-color);
}

#cartTitle {
  font-size: 24px;
  margin: 0;
}

.cartItem {
  border-bottom: 1px solid #c3c3c3;
  padding: 10px 0;
}

#productName {
  font-size: 16px;
}

.cartSection {
  height: 340px; 
  overflow-y: auto;
}

.cart {
  position: fixed; 
  width: 200px; 
  right: 20px; 
  top: 209px;
}

#confirmContent {
  font-size: 20px;
}

.confirmButton {
  font-size: 20px !important;
}

.ui.modal>.actions {
  text-align: center;
}

.favorite-icon {
  position: absolute !important;
  right: 10px;
  top: 10px;
  z-index: 2;
  font-size: 1.5em !important;
  color: rgba(255, 255, 255, 0.7); 
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: transform 0.1s ease, color 0.1s ease;
}

.favorite-icon:hover {
  transform: scale(1.2);
  color: #f2c612 !important;
}

article[id^="⭐"] .favorite-icon, 
section[id="⭐"] .favorite-icon {
    color: #f2c612 !important;
}