<article class="products">
  <section id="productList">
    <h1 id="recent" class="header">Recent</h1>
    <section id="recentList" class="ui five column grid products"></section>

    <h1>Beverages</h1>
    <section id="beverage" class="ui five column grid products">
    
    </section>
    <h1>Savory</h1>
    <section id="savory" class="ui five column grid products">
    
    </section>
    <h1>Sweet</h1>
    <section id="chocolate" class="ui five column grid products">
    
    </section>
    <h1>Additional</h1>
    <section id="additional" class="ui five column grid products">
    
    </section>
    <h1 id="alcoholText">Alcohol</h1>
    <section id="liquor" class="ui five column grid products">
    
    </section>
  </section>
  <aside class="cart">
    <article class="ui one column">
      <div class="ui card">
        <div class="content">
          <h1 class="header" id="cartTitle">Cart</h1>
          <div class="ui divider"></div>
          <div class="description cartSection">
            <section id="cartList"></section>
          </div>
          <div class="ui divider"></div>
          <div class="extra content">
            <span id="totalCost">Cost: €0.00</span><br>
            <span id="newBalance">New balance: €0.00</span>
            <div class="ui divider"></div>
            <button class="ui button primary" id="purchase">Purchase</button>
          </div>
        </div>
      </div>
    </article>
  </aside>
</article>