<article class="products">
  <h1 id="recent" class="header">Recent</h1>
  <section class="ui five column grid products" id="recentList"></section>
  <h1 class="header">Products</h1>
  <section class="ui five column grid products" id="productList"></section>
  <aside class="cart">
    <article class="ui one column">
      <div class="ui card">
        <div class="content">
          <h1 class="header" id="cartTitle">Cart</h1>
          <div class="ui divider"></div>
          <div class="description cartSection">
            <section id="cartList"></section>
          </div>
          <div class="ui divider"></div>
          <div class="extra content">
            <span id="totalCost">€0.00</span>
            <button class="ui button" id="purchase">Purchase</button>
          </div>
        </div>
      </div>
    </article>
  </aside>
</article>