#productList {
  width: calc(100% - 200px);
}
#recentList {
  width: calc(100% - 200px);
}

#purchase {
  width: 100%;
}

#cartTitle {
  font-size: 24px;
  margin: 0;
}

.cartItem {
  border-bottom: 1px solid #c3c3c3;
  padding: 10px 0;
}

#productName {
  font-size: 16px;
}

.cartSection {
  height: 440px; 
  overflow-y: auto;
}

.cart {
  position: fixed; 
  width: 200px; 
  right: 20px; 
  top: 140px;
}

.products {
  margin: 20px;
}