<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Magnificent Sloth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../../src/static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="./base.css">
<body>
<header class="ui menu">
  <img 
    src="https://images.ctfassets.net/7cqe14fu3dhm/2xUwyE07ft7Bo13OzQRqN6/b1e6362fe87351467ff3c69b6610feaf/HoofdKleur.svg"
    class="item"
    id="logo"
  />
  <span class="item"> 
    Products
  </span>
  <span class="item">
    Activities
  </span>
  <span class="item">
    Add funds
  </span>
  <span class="item" id="funds">
    Credit<br>
    €14.14
  </span>
</header>
<main>
  <article id="content"></article>
</main>
<footer>
	Study Association Sticky - 2020 - Magnificent Sloth
</footer>
</body>
</html>