/* Global */
body {
	background-color: #f8f8f4;
	overflow: hidden;
}

/* Menu */
.menu {
	height: 100px;
	margin-bottom: 0 !important;
	background-color: #800816 !important;
}

.menu > span {
	color: #f0f0f0 !important;
	font-size: 30px;
}

#userFunds {
	margin-left: auto;
	display: block;
	text-align: center;
}

#user {
	font-size: 25px;
	padding-bottom: 10px;
	margin-top: -10px;
}

.menu > #logo {
	padding: 0;
	width: 100px;
}

/* Default components */

main {
	height: calc(100% - 100px);
	position: relative;
	overflow-y: auto;
}
