<!doctype html>
<html lang="en">
<head>
  <!-- Application Metadata -->
  <title>Magnificent Sloth</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

  <!-- CSS Imports -->
  <link rel="stylesheet" type="text/css" href="../../../src/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="./base.css">
  <link rel="stylesheet" type="text/css" href="../products/products.css">
</head>
<body>
  <header class="ui menu">
    <img 
      src="https://public.svsticky.nl/logos/hoofd_outline_wit.svg"
      class="item"
      id="logo"
    />
    <span class="item link hidden" id="products"> 
      Products
    </span>
    <span class="item link hidden" id="activities">
      Activities
    </span>
    <span class="item link hidden" id="funds">
      Add funds
    </span>
    <span class="item" id="userFunds">
      <section id="user"></section>
      <section id="balance"></section>
    </span>
  </header>
  <main>
    <article id="content"></article>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
      <div id="notifications" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Information</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="notification-body"></div>
      </div>
    </div>
  </main>
  <script>
    window.$ = window.jQuery = require('jquery');
    require('../../../src/semantic/dist/semantic.min.js');
    require('../../static/js/menu');
  </script>
</body>
</html>
