<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Magnificent Sloth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../../src/static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="./base.css">
<body>
<header>
  <h1>Sticky</h1>
  <nav>
    <span>
      1
    </span>
    <span>
      1
    </span>
    <span>
      1
    </span>
  </nav>
</header>
<main>
  <article id="content"></article>
</main>
<footer>
	Study Association Sticky - 2020 - Magnificent Sloth
</footer>
</body>
</html>