<!doctype html>
<html lang="en">
<head>
  <!-- Application Metadata -->
  <title>Magnificent Sloth</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

  <!-- CSS Imports -->
  <link rel="stylesheet" type="text/css" href="../../../src/static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="./idle.css">
<body>
<main>
  <article id="content">  
    <img 
    src="https://images.ctfassets.net/7cqe14fu3dhm/5JCfPArmYDwNAtJYOPV3GA/6c1f714a41adf73f6bedd57e607d9acb/LogoCompactWit.svg"
    class="item"
    id="logo"
    />
    <h1 id="description">Leg je kaart op de NFC-reader</h1>
</article>
</main>
</body>
</html>