body {
  background-color: var(--board-color);
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  height: 100vh;
  display: grid;
}

article {
  margin: auto;
}

#logo {
  display: block;
}

#description{
  text-align: center;
  color: #ffffff;
  font-size: 50px;
}
