<!doctype html>
<html lang="en">
<head>
  <!-- Application Metadata -->
  <title>Magnificent Sloth</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

  <!-- CSS Imports -->
  <link rel="stylesheet" type="text/css" href="../../../src/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="./idle.css">
</head>
<body>
  <main>
    <article id="content">  
      <img 
      src="https://public.svsticky.nl/logos/logo_compact_outline_wit.svg"
      class="item"
      id="logo"
      />
      <h1 id="description">Leg je kaart op de NFC-reader</h1>
    </article>
  </main>
  <script>
    require('../../static/js/idle');
  </script>
</body>
</html>